
html, body {
  /*background-color: #999;*/
}
.carousel-inner{
  background-color: #999;
}

.knockout {
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.search-box {
  position: absolute;
  top: 50%;
  margin-left: 400px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;

}
body {
  padding-bottom: 40px;
  color: #5a5a5a ;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
  margin-bottom: 60px;
}
.carousel-control {
  top: 76%;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 450px;
  background-color:#bbb;
  overflow:hidden;
  data-interval=false;


}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  /*min-width: 100%;
  height: 500px;*/
}

/*.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    /*width: 100%;
     margin: 0 auto;
}*/
.carousel-inner > .item > img {
    margin-left : 38.5%;
}

.searchForm {
    position: absolute;
    top: auto;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    max-width:inherit;
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
