
html, body {
  /*background-color: #444;*/
}

.knockout {
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.search-box {
  position: absolute;
  top: 50%;
  margin-left: 400px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;

}
